
/* body {
    background: rgb(32, 21, 228);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgb(17, 202, 239) 0%,
      rgb(26, 188, 203) 100%
    );
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container > form {
    width: 70%;
    border: 1px solid #8a3a3a;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    background: #0563b4 !important;
  }
  p {
    color: red;
  } */